WhatsApp Bot.json
{
  "name": "WhatsApp Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -208
      ],
      "id": "dd590067-db55-4c67-b1da-9deadd2fbc49",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=863930600134898",
        "recipientPhoneNumber": "923153154540",
        "textBody": "=success {{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        192,
        -208
      ],
      "id": "46ad7a32-d70e-4254-b06d-deeffd0150e2",
      "name": "Send message",
      "webhookId": "5acd846a-51e0-40a0-8f9f-5d5d5f89b1d7",
      "credentials": {
        "whatsAppApi": {
          "id": "veXvFkdVh9huMdNb",
          "name": "WhatsApp account 4"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -208
      ],
      "id": "e9588a6d-9b5a-4e78-a0c2-70493bbb733f",
      "name": "Chat Received1",
      "webhookId": "86fd7fc1-d7e5-4fc4-a41c-69fad7c3b81f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "qbF44GtJfMwRTVVB",
          "name": "WhatsApp OAuth account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        16
      ],
      "id": "2ff1d9be-a758-457b-8845-19f2da932e90",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pfByQl103Gn0XTUg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Received1').item.json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        48
      ],
      "id": "b9416477-9a37-4859-8ed5-a21b674a8aca",
      "name": "Simple Memory1",
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Received1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e164a978-1bf8-4d0a-b117-27c329ccd7bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3995614c53330b8235732b6439f4722022fa77b84f9cd17e44c49abe50c94c1f"
  },
  "id": "TqyoxYGZgKr23QUK",
  "tags": []
}